<div style="width:960px;background-color: #FFFFFF;margin:0 auto;">
    <form method="post" enctype="multipart/form-data">
        <table style="width: 120px;margin-top: 0px;" border="0" cellspacing="0">
            <tr>
                <td class="tdfooter1" style="background-color: #F7861E;color:#FFFFFF" id="n1" onclick="window.location='/homepage'">供应信息</td>
            </tr>
        </table>
        <table style="width: 100%;margin-top:0px;" border="0" cellspacing="0">
            <tr style="height: 6px;">
                <td colspan="3" style="background-image: url('/images/orange.png')">
            </tr>
        </table>
        <div style="width: 100%;height: 450px;background-color: #F2F0F5;"   >
            <div style="padding-left: 20px;padding-top: 20px;font-weight: bold;line-height:20px;">
                <span style="color:#F68421">*</span><span>邮轮名称：

                  <%
                  for (var i in cruiseship) {
                  var t = "";
                  if(cruiseship[i].id==supply[0].ship_id){
                  %>
                    <span style="font-weight:normal"><%=cruiseship[i].txtShipName%></span>
                  <%
                  }
                  }
                  %>
             </span>
              <span style="margin-left: 20px;"><span style="color:#F68421">*</span>出航日期：
                  <span style="font-weight:normal"><%=supply[0].departure_date%></span></span>
                <span style="margin-left: 20px;"><span style="color:#F68421">*</span><span style="font-weight:normal"><%=supply[0].days%></span> 天 <span style="font-weight:normal"><%=Number(supply[0].days)-1%></span> 晚 </span>
                <span style="margin-left: 20px;"><span style="color:#F68421">*</span>航线：<span style="font-weight:normal"><%=supply[0].cruise_route%></span></span>
            </div>
            <div style="padding-left: 20px;padding-top: 0px;font-weight: bold;line-height:20px;">
                <span style="color:#F68421">*</span><span>舱房类型：
                    <%
                    var q1 = "";var q2 = "";var q3 = ""

                            for (var i in cabin_category) {
                        var t = "";
                        if(cabin_category[i].id==supply[0].cabin_category_id){
                    %>
                    <span style="font-weight:normal"><%=cabin_category[i].txtCabinName%></span>
                    <%
                    }
                    }
                   var sl = supply[0].amount;
                        if(sl==-1){sl="";}
                    %>
            </span>
                <span style="margin-left: 20px;">数量：<span style="font-weight:normal"><%=sl%></span></span>
                <span style="margin-left: 20px;"><span style="color:#F68421">*</span>现价：<%=supply[0].price_now%> 元/人</span>
                <span style="margin-left: 20px;">原价：<span style="font-weight:normal"><%=supply[0].price_old%></span> 元/人</span>
            </div>
            <div style="padding-left: 20px;padding-top: 0px;font-weight: bold;line-height:20px;">&nbsp;产品描述：<span style="font-weight:normal"><%=supply[0].description%></span></div>
            <div style="width: 100%;padding-left: 20px;padding-top: 0px;font-weight: bold">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <img src='files/<%=supply[0].img_url%>' style="height: 300px;">
                        </td>
                        <td style="text-align: right;width: 130px;">

                        </td>
                    </tr>
                </table>

            </div>
            
        </div>
        <div style="width: 100%;padding-left: 20px;padding-top: 10px;font-weight: bold">
                <table style="width: 100%">
                    <tr>
                        <td>

                        </td>
                        <td style="text-align: right;width: 120px;padding-right:20px;">
                            <img style="cursor:pointer;"  src="/images/retune.png" onclick="history.go(-1);" />
                        </td>
                    </tr>
                </table>

            </div>
        <input type="hidden" name="owner_id" value="<%=user[0].id%>" />
        <input type="hidden" name="created_at" value="<%=supply[0].created_at%>" />
        <input type="hidden" name="docid" value="<%=supply[0].id%>" />
        <input type="hidden" name="img_url_old" value="<%=supply[0].img_url%>" />
        <%
        function getNow(){
            var date = new Date(); //日期对象
            var now = "";
            now = date.getFullYear()+"";
            now = now + (date.getMonth()+1)+"";//取月的时候取的是当前月-1如果想取当前月+1就可以了
            now = now + date.getDate()+"";
            now = now + date.getHours()+"";
            now = now + date.getMinutes()+"";
            now = now + date.getSeconds()+"";
            return now;
        }
        var shipNo = "";
        var shipName = "";
        var shipComNo = "";
        var shipNum = "";
        for (var i in cruiseship) {
            if(shipNo == ""){
                shipNo =  cruiseship[i].id;
                shipName =  cruiseship[i].txtShipName;
                shipComNo = cruiseship[i].txtCompanyNo;
                shipNum =  cruiseship[i].txtShipNo;
            }else{
                shipNo =  shipNo+";"+cruiseship[i].id;
                shipName = shipName+";"+cruiseship[i].txtShipName;
                shipComNo = shipComNo+";"+cruiseship[i].txtCompanyNo;
                shipNum =  shipNum+";"+cruiseship[i].txtShipNo;
            }
        }
        %>
        <input type="hidden" name="unid" value="<%=getNow()%>"></input>
        <input type="hidden" id="shipNo" value="<%=shipNo%>" />
        <input type="hidden" id="shipName" value="<%=shipName%>"  />
        <input type="hidden" id="shipComNo" value="<%=shipComNo%>"  />
        <input type="hidden" id="shipNum" value="<%=shipNum%>"  />
        <input type="hidden" id="ch1" value="<%=q1%>" />
        <input type="hidden" id="ch2" value="<%=q2%>" />
        <input type="hidden" id="ch3" value="<%=q3%>" />
    </form>
    
    <script>
        function goToMessage(url, msgTitle) {
            window.location = url + encodeURIComponent(msgTitle);
        }
    </script>
    </form>
    
</div>